.Random-Quote-Desc{
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 100px; */
    cursor: pointer;
    color: #4F4F4F;
    transition: all 0.25s ease-out;
}

@media only screen and (max-width: 600px) {
    .Random-Quote-Desc{
        background-color: #333;
        color: #F2F2F2;
    }
    .Random-Quote-Desc .arrow{
        display: flex;
    }
    .Desc-Container{
        padding-top: 20px !important;
        padding-left: 30px;
        padding-bottom: 20px !important;
    }
}
/* .Random-Quote-Desc:hover .arrow{
    padding-right: 30px;
} */
.Desc-Container{
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 50px;
}
.Random-Quote-Desc h1{
    font-weight: 700;
    font-size: 24px;
}
.Random-Quote-Desc p{
    font-weight: 500;
    font-size: 14px;
    color: #828282;
}
.Random-Quote-Desc span{
    font-size: 24px;
    color: white;
}
.arrow{
    display: none;
    /* display: flex; */
    align-items: center;
    padding-right: 40px;
    color: #F2F2F2;
}

.Random-Quote-Desc:hover{
    background-color: #333;
    color: #F2F2F2;
}

.Random-Quote-Desc:hover .arrow{
    display: flex;
}